			body {
				margin: 0;
			}
			div {
				background-image: url(http://www.pageresource.com/wallpapers/wallpaper/animals-zoo-park-birds-bird-beautiful_255568.jpg);
				background-repeat: no-repeat;
				background-size: cover;
				padding: 200px 0px 0px 0px;
				background-color: blue;
				text-align: center;
				}
		